<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		 
		<property name="connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="connection.url">
			jdbc:mysql://127.0.0.1:3306/oa?useUnicode=true&amp;characterEncoding=UTF-8
		</property>		
		<property name="dialect">
			org.hibernate.dialect.MySQL5InnoDBDialect
		</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>

		
		<property name="connection.provider_class">
			org.hibernate.connection.C3P0ConnectionProvider
		</property>
		<property name="hibernate.c3p0.idle_test_period">1800</property>
		<property name="hibernate.c3p0.timeout">3600</property>		
		<property name="show_sql">false</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="hibernate.connection.autocommit">true</property>

		<mapping class="com.ydt.oa.entity.User" />
		<mapping class="com.ydt.oa.entity.Project" />
		<mapping class="com.ydt.oa.entity.Department" />
		<mapping class="com.ydt.oa.entity.Role" />
		<mapping class="com.ydt.oa.entity.OaAction" />
		<mapping class="com.ydt.oa.entity.ActionUrl" />
		<mapping class="com.ydt.oa.entity.Application" />
		<mapping class="com.ydt.oa.entity.ApproveFlow" />
		<mapping class="com.ydt.oa.entity.ApproveFlowConfig" />
		<mapping class="com.ydt.oa.entity.BatchPurchaseDetails" />
		<mapping class="com.ydt.oa.entity.Contract" />
		<mapping class="com.ydt.oa.entity.ContractDetails" />
		<mapping class="com.ydt.oa.entity.ManContractDetails" />
		<mapping class="com.ydt.oa.entity.Expense" />
		<mapping class="com.ydt.oa.entity.CostDetails" />
		<mapping class="com.ydt.oa.entity.Material" />
		<mapping class="com.ydt.oa.entity.PurchaseApply" />
		<mapping class="com.ydt.oa.entity.PurchaseApplyDetails" />
		<mapping class="com.ydt.oa.entity.PurchasePlan" />
		<mapping class="com.ydt.oa.entity.PurchasePlanDetails" />
		<mapping class="com.ydt.oa.entity.PaymentOrder" />  
		<mapping class="com.ydt.oa.entity.RequestMoney" />
		<mapping class="com.ydt.oa.entity.BorrowMoney" />
		<mapping class="com.ydt.oa.entity.RunningAccount" />
		<mapping class="com.ydt.oa.entity.Stock" />
		<mapping class="com.ydt.oa.entity.Supplier" />
		<mapping class="com.ydt.oa.entity.SystemParam" />
		<mapping class="com.ydt.oa.entity.Sms" />
		<mapping class="com.ydt.oa.entity.FileLog" />
		<mapping class="com.ydt.oa.entity.PaymentOrder" />   
		<mapping class="com.ydt.oa.entity.PaymentLog" />
		<mapping class="com.ydt.oa.entity.StoreRoom" />
		<mapping class="com.ydt.oa.entity.StoreRoomLog" />
		<mapping class="com.ydt.oa.entity.StoreRoomMaterial" />
		<mapping class="com.ydt.oa.entity.Contractor"/>
		<mapping class="com.ydt.oa.entity.Worker"/>
		<mapping class="com.ydt.oa.entity.Admin"/>
	</session-factory>
</hibernate-configuration>